div {
     background-color: lightgrey;
}

.container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 50px 200px;
    grid-gap: 5px;
  }


.container > div:nth-child(1n) {
  background-color: green;
}

.container > div:nth-child(3n) {
  background-color: blue;
}

.container > div:nth-child(2n) {
      background-color: red;
}

.container > div:nth-child(4n) {
      background-color: yellow;
}
