/*
        <div class="container">
            <div class="header">HEADER</div>
            <div class="menu">MENU</div>
            <div class="content">CONTENT</div>
            <div class="footer">FOOTER</div>
        </div>

     */

/* template areas */

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
  /* change layout by changing a letter in this grid-template area. Use a period to make the area blank */
    grid-template-areas:
        "m h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        ". f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html, body {
  box-sizing: border-box;
  background-color: grey;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

body {
  font: normal small-caps normal 10px/1.4 Georgia;
}

.container > div:nth-child(1n) {
  background-color: red;
}

.container > div:nth-child(3n) {
  background-color: orange;
}

.container > div:nth-child(2n) {
  background-color: green;
}

.container > div:nth-child(4n) {
  background-color: blue;
}
